.liquid-ether-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
  touch-action: pan-y pinch-zoom;
  pointer-events: none !important;
  user-select: none;
  -webkit-user-select: none;
}

